<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de músicas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/listagem_musicas.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<h1><a href="/">SoundRegister</a></h1>
<p class="text-muted">Listagem das músicas registradas.</p>
<div class="center-box">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="musicaInput">Buscar por música:</label>
                    <input type="text" id="musicaInput" class="form-control" placeholder="Digite o título da música">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="artistaSelect">Selecione um artista:</label>
                    <select id="artistaSelect" class="form-control">
                        <option value="">Selecione um artista</option>
                        <option th:each="artistas : ${artistas}"
                                th:value="${artistas.nome}" th:text="${artistas.nome}"></option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Título</th>
                <th>Artista</th>
                <th>Ano de lançamento</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tabelaMusicas">
            <th:block th:each="musica : ${musicas}">
                <tr>
                    <td th:text="${musica.titulo}"></td>
                    <td th:text="${musica.artista.nome}"></td>
                    <td th:text="${musica.anoLancamento}"></td>
                    <td>
                        <button id="edicaoMusica" class="btn btn-warning btn-sm" th:data-id="${musica.id}" onclick="modalEdicaoMusica(this)">Editar</button>
                        <button id="exclusaoMusica" class="btn btn-danger btn-sm" th:data-id="${musica.id}">Excluir</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="/edicoes/modal_edicao_musicas"></div>
<div th:replace="/edicoes/modal_confirmacao_deletar_musica"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/assets/js/musicas/musicas.js"></script>
</body>
</html>
