<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de artistas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/listagem_musicas.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<h1><a href="/">SoundRegister</a></h1>
<p class="text-muted">Listagem dos artistas registrados.</p>
<div class="center-box">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="artistaInput">Insira um artista:</label>
                    <input type="text" id="artistaInput" class="form-control" placeholder="Digite o nome do artista">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="generoSelect">Selecione um gênero:</label>
                    <select id="generoSelect" class="form-control">
                        <option value="" selected>Selecione um Gênero</option>
                        <option value="ROCK">Rock</option>
                        <option value="SERTANEJO">Sertanejo</option>
                        <option value="RAP">Rap</option>
                        <option value="HIPHOP">Hip-hop</option>
                        <option value="FUNK">Funk</option>
                        <option value="SAMBA">Samba</option>
                        <option value="PAGODE">Pagode</option>
                        <option value="ELETRÔNICA">Eletrônica</option>
                        <option value="JAZZ">Jazz</option>
                        <option value="POP">Pop</option>
                        <option value="REGGAE">Reggae</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Gênero</th>
                <th>Músicas</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tabelaArtistas">
            <th:block th:each="entry : ${musicasPorArtista}">
                <tr>
                    <td th:text="${entry.key.nome}"></td>
                    <td th:text="${entry.key.tipo}"></td>
                    <td th:text="${entry.key.genero}"></td>
                    <td th:text="${entry.value}"></td>
                    <td>
                        <button class="btn btn-warning btn-sm" id="edicaoArtista" th:data-id="${entry.key.id}" onclick="abrirModalEdicaoArtista(this)">Editar</button>
                        <button class="btn btn-danger btn-sm" id="exclusaoArtista" th:data-id="${entry.key.id}" onclick="modalDeletarArtista(this)">Excluir</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="/edicoes/modal_edicao_artistas"></div>
<div th:replace="/edicoes/modal_confirmacao_deletar_artista"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/assets/js/artistas/artistas.js"></script>
</body>
</html>
