<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/principal.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>SoundRegister</h1>
    <p>Cadastros e pesquisas de artistas e músicas.</p>

    <div class="center-box">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-primary btn-block"
                            onclick="window.location.href='/registrar';">Registrar artistas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-primary btn-block"
                            onclick="window.location.href='/registrarMusicas';">Registrar músicas</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-primary btn-block">Listar músicas</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-primary btn-block">Pesquisar artistas</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-primary btn-block">Buscar músicas por artistas</button>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/assets/frontjs/home.js"></script>
</body>
</html>
