* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, white, lightblue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: Lexend;
    font-size: 3rem;
    text-align: center;
}
.center-box {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}


.btn-primary {
    transition: all 0.3s ease;
}


.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transform: scale(1.05);
}


.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    table-layout: fixed;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}


.text-muted {
    text-align: center;
    margin-bottom: 10px;
}

.btn-danger {
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #630000;
    border-color: #ae0000;
    transform: scale(1.05);
}


.btn-danger:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}