* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, white, lightblue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: Lexend;
    font-size: 3rem;
    text-align: center;
}
.center-box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.center-box h3 {
    margin-top: 20px;
}

.resposta-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #333;
}

.btn {
    margin-top: 15px;
}

.btn-primary {
    width: 100%;
    transition: all 0.3s ease;
}


.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transform: scale(1.05);
}


.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

#nomeArtistaLabel {
    margin-top: -120px;
    padding-top: -25px;
}
.center-box .form-group label {
    margin-top: 15px; /* Remove qualquer margem superior padrão */

}