* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, white, lightblue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: Lexend;
    font-size: 3rem;
    text-align: center;
}
.center-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 310px;
}

.btn-primary {
    width: 100%;
    transition: all 0.3s ease;
}


.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transform: scale(1.05);
}


.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
